# T20 World Cup Cricket Data Pre Processing

In [253]:
#import the libraries 
import pandas as pd
import numpy as np
import json

### Processing Match Results

In [254]:
with open('t20_wc_match_results______20221224_142828.json') as f:
    data = json.load(f)
df_match = pd.DataFrame(data[0]['matchSummary'])

In [255]:
df_match.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

__Renaming scorecard as  match id to link with other tables.__

In [256]:
df_match.rename({'scorecard':'matchid'}, axis = 1, inplace = True)

__Create a match ids dictionary that maps team names to a unique match id. This will be useful later on to link with other tables__

In [257]:
match_ids_dict = {}

for index,row in df_match.iterrows():
    key1 = row['team1'] + ' Vs ' + row['team2']
    key2 = row['team2'] + ' Vs ' + row['team1']
    
    match_ids_dict[key1] = row['matchid']
    match_ids_dict[key2] = row['matchid']

### Process Batting Summary

In [258]:
with open('t20_wc_batting_summary____20221224_143457.json') as f:
    bat = json.load(f)
    all_records = []
    for record in bat:
        all_records.extend(record['battingSummary'])
    
df_batting = pd.DataFrame(all_records)

In [259]:
df_batting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   match        699 non-null    object
 1   teamInnings  699 non-null    object
 2   battingPos   699 non-null    int64
 3   batsmanName  699 non-null    object
 4   dismissal    554 non-null    object
 5   runs         699 non-null    object
 6   balls        699 non-null    object
 7   4s           699 non-null    object
 8   6s           699 non-null    object
 9   SR           699 non-null    object
dtypes: int64(1), object(9)
memory usage: 54.7+ KB

In [260]:
df_batting.head(10)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,run out (Gunathilaka/â€ Mendis),44,28,4,0,157.14
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,c â€ Mendis b Theekshana,0,1,0,0,0.00
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,NaN,31,16,2,2,193.75
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,c Smit b Shikongo,9,10,1,0,90.00
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendisâ€,c â€ Green b Wiese,6,6,0,0,100.00

In [261]:
df_batting['out/not_out'] = df_batting.dismissal.apply(lambda x:'not_out' if pd.isnull(x) else 'out')

In [262]:
df_batting.head(10)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,run out (Gunathilaka/â€ Mendis),44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,c â€ Mendis b Theekshana,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,NaN,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,c Smit b Shikongo,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendisâ€,c â€ Green b Wiese,6,6,0,0,100.00,out

In [263]:
df_batting['out/not_out'].value_counts()

out        554
not_out    145
Name: out/not_out, dtype: int64

In [264]:
df_batting.drop(columns = ['dismissal'], inplace = True)

In [265]:
df_batting.head(10)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out
5,Namibia Vs Sri Lanka,Namibia,6,Jan Frylinck,44,28,4,0,157.14,out
6,Namibia Vs Sri Lanka,Namibia,7,David Wiese,0,1,0,0,0.00,out
7,Namibia Vs Sri Lanka,Namibia,8,JJ Smit,31,16,2,2,193.75,not_out
8,Namibia Vs Sri Lanka,Sri Lanka,1,Pathum Nissanka,9,10,1,0,90.00,out
9,Namibia Vs Sri Lanka,Sri Lanka,2,Kusal Mendisâ€,6,6,0,0,100.00,out

### Removing Weird Characters

In [266]:
import string

def filter_ascii(s):
    # Create a string of ASCII characters
    ascii_chars = string.ascii_letters + string.digits + string.punctuation + ' '

    # Filter the string to keep only ASCII characters
    s = ''.join([c for c in s if c in ascii_chars])

    return s

In [267]:
df_batting['batsmanName'] = df_batting['batsmanName'].apply(filter_ascii)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out

In [268]:
match_ids_dict['Pakistan Vs England']

'T20I # 1879'

In [269]:
df_batting['match_id'] = df_batting['match'].map(match_ids_dict)

In [270]:
df_batting

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,3,6,0,0,50.00,out,T20I # 1823
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,9,9,1,0,100.00,out,T20I # 1823
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,20,12,1,2,166.66,out,T20I # 1823
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,26,24,2,0,108.33,out,T20I # 1823
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),20,24,0,0,83.33,out,T20I # 1823
...,...,...,...,...,...,...,...,...,...,...,...
694,Pakistan Vs England,England,3,Phil Salt,10,9,2,0,111.11,out,T20I # 1879
695,Pakistan Vs England,England,4,Ben Stokes,52,49,5,1,106.12,not_out,T20I # 1879
696,Pakistan Vs England,England,5,Harry Brook,20,23,1,0,86.95,out,T20I # 1879
697,Pakistan Vs England,England,6,Moeen Ali,19,13,3,0,146.15,out,T20I # 1879
698,Pakistan Vs England,England,7,Liam Livingstone,1,1,0,0,100.00,not_out,T20I # 1879

### Process Bowling Summary

In [271]:
with open('t20_wc_bowling_summary___20221224_143547.json') as f:
    ball = json.load(f)
    ball_records = []
    for record in ball:
        ball_records.extend(record['bowlingSummary'])

In [272]:
df_bowling  = pd.DataFrame(ball_records)

In [273]:
df_bowling

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Pakistan Vs England,Pakistan,Naseem Shah,4,0,30,0,7.50,15,3,1,1,0
496,Pakistan Vs England,Pakistan,Haris Rauf,4,0,23,2,5.75,13,3,0,1,0
497,Pakistan Vs England,Pakistan,Shadab Khan,4,0,20,1,5.00,10,1,0,0,0
498,Pakistan Vs England,Pakistan,Mohammad Wasim,4,0,38,1,9.50,5,5,0,2,0
499,Pakistan Vs England,Pakistan,Iftikhar Ahmed,0.5,0,13,0,15.60,0,1,1,0,0

In [274]:
df_bowling.shape

(500, 13)

In [275]:
df_bowling['match_id'] = df_bowling['match'].map(match_ids_dict)

### Process Players Information

In [276]:
with open('t20_wc_player_info______20221224_143945.json') as f:
    player = json.load(f)

In [277]:
df_players= pd.DataFrame(player)

In [278]:
df_players

,input,warning,name,team,battingStyle,bowlingStyle,playingRole,description
0,{},"page was crawled successfully, but the collect...",NaN,NaN,NaN,NaN,NaN,NaN
1,{},"page was crawled successfully, but the collect...",NaN,NaN,NaN,NaN,NaN,NaN
2,{},"page was crawled successfully, but the collect...",NaN,NaN,NaN,NaN,NaN,NaN
3,{},NaN,Regis Chakabvaâ€,Zimbabwe,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,"A doughty wicketkeeper-batsman, Regis Chakabva..."
4,{},NaN,Craig Ervine(c),Zimbabwe,Left hand Bat,Right arm Offbreak,Middle order Batter,Few people in Zimbabwe cricket circles were su...
...,...,...,...,...,...,...,...,...
217,{},NaN,Asif Ali,Pakistan,Right hand Bat,Right arm Offbreak,Middle order Batter,Where was Asif Ali in the years Pakistan had b...
218,{},NaN,Brad Evans,Zimbabwe,Right hand Bat,Right arm Fast,Allrounder,NaN
219,{},NaN,Shoriful Islam,Bangladesh,Left hand Bat,Left arm Medium fast,Bowler,"At 6ft three inches, Shoriful Islam became a l..."
220,{},NaN,Aryan Lakra,U.A.E.,Left hand Bat,Slow Left arm Orthodox,Bowler,NaN
221,{},NaN,Ashton Agar,Australia,Left hand Bat,Slow Left arm Orthodox,Bowler,Ashton Agar initially turned almost as many he...

Drop the unwanted columns and rows having only NaN Values.

In [279]:
df_players.drop(columns = ['input', 'warning'], inplace = True)

In [280]:
df_players.dropna(subset = ['name'], inplace = True)

In [281]:
df_players.reset_index(drop = True, inplace = True)

In [282]:
# Remove the non-ascii characters from the name 
df_players['name'] = df_players['name'].apply(filter_ascii)

In [283]:
df_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          219 non-null    object
 1   team          219 non-null    object
 2   battingStyle  219 non-null    object
 3   bowlingStyle  200 non-null    object
 4   playingRole   219 non-null    object
 5   description   151 non-null    object
dtypes: object(6)
memory usage: 10.4+ KB

In [284]:
df_players

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Regis Chakabva,Zimbabwe,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,"A doughty wicketkeeper-batsman, Regis Chakabva..."
1,Craig Ervine(c),Zimbabwe,Left hand Bat,Right arm Offbreak,Middle order Batter,Few people in Zimbabwe cricket circles were su...
2,Sean Williams,Zimbabwe,Left hand Bat,Slow Left arm Orthodox,Middle order Batter,"Sean Williams is a bold, dynamic left-hand bat..."
3,Sikandar Raza,Zimbabwe,Right hand Bat,Right arm Offbreak,Batting Allrounder,Sikandar Raza's story isn't that of your every...
4,Wessly Madhevere,Zimbabwe,Right hand Bat,Right arm Offbreak,Allrounder,NaN
...,...,...,...,...,...,...
214,Asif Ali,Pakistan,Right hand Bat,Right arm Offbreak,Middle order Batter,Where was Asif Ali in the years Pakistan had b...
215,Brad Evans,Zimbabwe,Right hand Bat,Right arm Fast,Allrounder,NaN
216,Shoriful Islam,Bangladesh,Left hand Bat,Left arm Medium fast,Bowler,"At 6ft three inches, Shoriful Islam became a l..."
217,Aryan Lakra,U.A.E.,Left hand Bat,Slow Left arm Orthodox,Bowler,NaN
218,Ashton Agar,Australia,Left hand Bat,Slow Left arm Orthodox,Bowler,Ashton Agar initially turned almost as many he...

In [285]:
df_players['team'].value_counts()

Sri Lanka       16
Bangladesh      16
Australia       16
Zimbabwe        15
Netherlands     15
Afghanistan     15
U.A.E.          14
Pakistan        14
South Africa    13
Namibia         13
India           13
England         13
West Indies     12
Ireland         12
Scotland        11
New Zealand     11
Name: team, dtype: int64

# Saving all the dataframes to csv

In [286]:
df_match.to_csv('t20_csv_files/dim_match_summary.csv', index = False)
df_batting.to_csv('t20_csv_files/fact_batting_summary.csv', index = False)
df_bowling.to_csv('t20_csv_files/fact_bowling_summary.csv', index = False)
df_players.to_csv('t20_csv_files/dim_players_no_images.csv', index  = False)